html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.flex {
  display: flex;
}
.container {
  max-width: 1780px;
  width: 100%;
  margin: 0 auto;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
  url("../fonts/Montserrat-Regular.woff2") format("woff2"),
  url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
  url("../fonts/Montserrat-Bold.woff2") format("woff2"),
  url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light"),
  url("../fonts/Montserrat-Light.woff2") format("woff2"),
  url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
  url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
  url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
  /* header */
.header {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.header__container {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
}
.burger {
  display: none;
}
.header__input-search {
  position: absolute;
  top: 20%;
  right: 0%;
  width: 539px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(120%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.search--active {
  visibility: visible;
  transform: none;
}
.nav {
  margin-left: auto;
  margin-right: 118px;
  padding-top: 3px;
  padding-left: 17px;
}
.logo {
  width: 224px;
  height: 72px;
}

.nav__item:nth-child(1) {
  margin-right: 85px;
}
.nav__item:nth-child(2) {
  margin-right: 84px;
}
.nav__item:nth-child(3) {
  margin-right: 85px;
}
.nav__item:nth-child(4) {
  margin-right: 83px;
}
.nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}
.nav-item__link:focus {
  border: 2px solid #FF9900;
}
.nav-item__link:hover {
  border-bottom: 2px solid #FF9900;
}
.nav-item__link:active {
  border: none;
  border-bottom: 2px solid #E1670E;
  color: #E1670E;
}
.header__search {
  position: absolute;
  left: 98%;
  width: 24px;
  height: 24px;
}
.header__search:focus {
  border: 2px solid #FF9900;
}
.header__search:hover .search__svg rect,
.header__search:hover .search__svg path {
  stroke: #FF9900;
}
.header__search:active .search__svg rect,
.header__search:active .search__svg path {
  stroke: #FF9900;
}
/* search-form */
.header__form {
  position: absolute;
  top: 20%;
  right: 5%;
  display: flex;
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 27px;
  padding-right: 18px;
  height: 60px;
  width: 540px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  overflow-y: auto;
  visibility: hidden;
  transform: translateY(-150%);
  transition: visibility 1.5s ease-in-out, transform 0.3s ease-in-out;
  z-index: 500;
}

.form__input-search {
  position: relative;
  width: 412px !important;
  border: 0;
  border-bottom: 1px solid #DCDCDC;

}
.form__input-search:hover .search__svg rect,
.form__input-search:hover .search__svg path {
  stroke: #FF9900;
}
.form__input-search:focus {
  border: none;
}
.form__btn-submit {
  margin-right: 22px;
}
.search--active {
  visibility: visible;
  transform: none;
}
.search--active input {
  opacity: 1;
  z-index: 1;
}
.search--active button {
  display: block;
}
.search--none {
  display: none;
}

/* section hero */
.hero {
  position: relative;
  height: 620px;
}
.hero__container {
  position: relative;
  padding-bottom: 100px;
  height: 100%;
  overflow: hidden;
}
.swiper {
  position: absolute;
  min-height: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.wrapper {
  position: relative;
  padding-top: 103px;
  padding-left: 80px;
  padding-bottom: 100px;
  width: 895px;
  z-index: 500;
}
/*.swiper-slide:nth-child(1) {
  background-image: url("../img/hero-slide-1.jpg");
}
.swiper-slide:nth-child(2) {
  background-image: url("../img/hero-slide-2.jpg");
}
.swiper-slide:nth-child(3) {
  background-image: url("../img/hero-slide-3.jpg");
}*/
.swiper-wrapper {
  min-height: inherit;
}
.swiper-slide {
  /*height: 620px;*/
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:focus {
  margin: 0 10px;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
.hero__title {
  margin-bottom: 23px;
  max-width: 900px;
  font-weight: 900;
  font-size: 68px;
  letter-spacing: 0.022em;
  line-height: 85px;
  color: #fff;
}
.hero__descr {
  max-width: 820px;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: 0.023em;
  line-height: 29px;
  color: #fff;
}
.hero__btn {
  margin-top: 88px;
  padding: 26px 35px;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0.022em;
  line-height: 29px;
  background: #FF9900;
  color: #fff;
  pointer-events: auto;
}
.hero__btn:focus, .hero__btn:hover {
  background: rgba(255, 153, 0, 0.7);
}
.hero__btn:active {
  background: #E1670E;
}
/* section about */
.about__container {
  padding-top: 99px;
  padding-left: 1px;
}
.about__title {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}
.about__descr {
  max-width: 1235px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgb(88, 88, 88);
}
.about__inner {
  margin-top: 50px;
}
.inner__content {
  width: 870px;
}
.inner__content:nth-child(1) {
  margin-right: 31px;
  padding-top: 432px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(../img/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inner__info {
  width: 100%;
  padding: 50px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.info__descr {
  max-width: 454px;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFF;
}
.inner__btn {
  margin-left: auto;
  padding: 15px 35px;
  height: 60px;
  border: 3px solid #FF9900;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.inner__btn:focus,
.inner__btn:hover {
  background: #FF9900;
}
.inner__btn:active {
  border: none;
  background: #E1670E;
}
.inner__aside {
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: 60px 60px;
}
.inner__aside:nth-child(1) {
  margin-bottom: 35px;
  padding: 64px 110px 60px 299px;
  background-image: url(../img/about-right-1.svg);
}
.inner__aside:nth-child(2) {
  padding: 64px 110px 70px 297px;
  background-image: url(../img/about-right-2.svg);
}
.aside__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333;
}
.aside__descr {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.006em;
  line-height: 32px;
  color: #333;
}

/* section work */
.work__container {
  position: relative;
  padding-top: 102px;
  padding-bottom: 100px;
  width: 1780px;
  color: #333;
}
.work__title {
  margin-bottom: 48px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}
.work__list {
  margin-bottom: 44px;
}
.work__item:not(:last-child) {
  margin-right: 85px;
}
.work__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.work__item:nth-child(3) {
  margin-left: 3px;
}
.work__tab:focus {
  border: 2px solid #FF9900;
  color: #333;
}
.work__tab:hover {
  color: #FF9900;
}
.work__tab:active {
  border: none;
  color: #E1670E;
}
.work__slider {
  padding-top: 2px;
  justify-content: space-between;
}
.slider__content {
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
.slider-text, .slider-bg {
  width: 50%;
}
.slider-bg {
  width: 870px;
  height: 460px;
}
.slider__content:nth-child(1) .slider-bg {
  position: relative;
  background-image: url("../img/work-slider-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content:nth-child(2) .slider-bg {
  position: relative;
  background-image: url("../img/work-slider-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content:nth-child(3) .slider-bg {
  position: relative;
  background-image: url("../img/work-slider-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content:nth-child(4) .slider-bg {
  position: relative;
  background-image: url("../img/work-slider-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* for tab */
.slider__content {
  display: none;
}
.tabs--active {
  display: flex;
}
.slider__title {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.slider__descr {
  max-width: 758px;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}
.slider__btn {
  padding: 20px 37px;
}
.btn-l {
  position: absolute;
  top: 674px;
  margin-right: 30px;
  padding-right: 38px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background: #FF9900;
  color: #fff;
  z-index: 500;
}
.btn-l:focus, .btn-l:hover {
  background: #F7B045;
}
.btn-l:active {
  background: #E1670E;
}
.btn-r {
  position: absolute;
  top: 676px;
  left: 204px;
  border: 1px solid #333;
}
.btn-r:focus, .btn-r:hover {
  border: none;
  background: #666666;
  color: #fff;
}
.btn-r:active {
  border: none;
  background: #000;
  color: #fff;
}

/* section question */
.question__container {
  padding-bottom: 100px;
}
.question__title {
  margin-bottom: 42px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}
.question__list {
  max-width: 1770px;
}
.question__item {
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #cacaca;
  padding-top: 29px;
  padding-bottom: 26px;
  /*transition: transform 6s ease;*/
}
.question__box {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
.question__item:nth-child(3) {
  padding-bottom: 27px;
}
.question__item:last-child {
  padding-top: 30px;
  border-bottom: 1px solid #cacaca;
}
.question__item:focus,
.question__item:hover {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  color: #FF9900;
}
.question__descr {
  width: 80%;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.question__item:focus .question__svg ellipse,
.question__item:hover .question__svg ellipse {
  fill:#ff9900;
}
/*.question__item:active .question__svg {
  transform: rotate(45deg);
}*/
.question__svg:active,
.is-active .question__svg {
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}
.question__btn {
  display: block;
  width: 52px;
  height: 52px;
}
/* accordion */
.question__answer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}
.question__item:nth-child(1) .answer__descr:nth-child(1) {
  margin-bottom: 25px;
}
/* footer */
.footer {
  background: #222;
}
.footer__container {
  justify-content: space-between;
  padding-top: 50px;
}
.footer__content {
  width: 33%;
}
.content-info__list {
  padding-top: 17px;
  padding-bottom: 90px;
  color: #bdbcbc;
}
.content-info__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}
.content-info__link:focus {
  border: 2px solid #FF9900;
  color: #CACACA;
}
.content-info__link:hover {
  color: #FF9900;
}
.content-info__link:active {
  border: none;
  color: #E1670E;
}
.social {
  padding: 0 0 50px 0;
}
.social__item:not(:last-child) {
  margin-right: 25px;
}
.social__link {
  width: 60px;
  height: 60px;
}
.social__link:focus .social__svg {
  border: 2px solid #FF9900;
}
.social__link:hover .social__svg path {
  fill: #FF9900;
}
.social__link:active .social__svg {
  border: none;
}
.social__link:active .social__svg path {
  fill: #E1670E;
}
.form__title {
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}
.footer__content:nth-child(2) {
  padding-top: 3px;
  padding-left: 3px;
}
.form {
  width: 570px;
}
.form input:not(input[type="checkbox"]) {
  width: 570px;
}
#name, #email, #message {
  padding-left: 25px;
  border: none;
  background-color: #414141;
  color: #cacaca8a;
}
#name, #email {
  margin-bottom: 25px;
  height: 60px;
}
#message {
  width: 570px;
  padding-top: 19px;
  height: 150px;
}
#name:focus, #email:focus, #message:focus,
#name:hover, #email:hover, #message:hover
#name:active, #email:active, #message:active {
  outline: none;
  background: #666;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #cacaca8a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #cacaca8a;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #cacaca8a;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #cacaca8a;
}
.form-box {
  margin-top: 25px;
  padding-left: 2px;
}
.form__btn {
  margin-right: 25px;
  padding: 19px 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background: #FF9900;
  color: #CACACA;
}
.form__btn:focus,
.form__btn:hover {
  background: #F7B045;
}
.form__btn:active {
  background: #E1670E;
}
.footer__content:nth-child(3) {
  padding-top: 87px;
  padding-left: 216px;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 0.4em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox:checked+label::before {
  border: 1px solid #adb5bd;
  background-image: url("../img/check.svg");
  background-size: 100%;
}
.form__label {
  font-weight: normal;
  font-size: 15px;
  line-height: 32px;
  color: #CACACA;
}
.footer__descr {
  max-width: 363px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

/* media */
@media ( min-width: 1920px ) {
  body {
    margin: 0 auto;
  }
}
@media ( max-width: 1024px ) {
  body {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
  }
  .container {
    max-width: 925px;
    width: 100%;
  }
  /* header */
  .header__container {
    padding-top: 37px;
    padding-bottom: 35px;
    height: 69px;
  }
  .burger {
    position: absolute;
    display: block;
    width: 34px;
    height: 30px;
    z-index: 500;
  }
  .burger__line {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #333;
    z-index: 500;
  }
  .burger__line:first-child {
    top: 25%
  }
  .burger__line:last-child {
    top: 75%;
  }
  .burger__line:not(:last-child) {
    margin-bottom: 7px;
  }
  .burger--active
  .burger__line:first-child {
  left: 25%;
  top: 50%;
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .burger--active
  .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .burger--active .burger__line:nth-child(2) {
    display: none;
  }
  .nav {
    position: absolute;
    display: none;
    left: 80%;
    top: 0;
    width: 50%;
    min-width: 200px;
    height: 100vh;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .burger__line {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .stop-scroll {
    overflow: hidden;
  }
  .nav .nav__list {
    flex-direction: column;
  }
  .nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .nav .header-link {
    font-size: 18px;
  }
  .nav--active {
    display: block;
    visibility: visible;
    transform: none;
  }
  .container {
    max-width: 925px;
  }
  .logo {
    position: absolute;
    top: 20%;
    left: 41.5%;
  }
  .header__search {
    left: 97%;
  }
  /* hero */
  .wrapper {
    padding-top: 158px;
    padding-bottom: 160px;
    overflow: hidden;
  }
  .hero__title {
    margin-bottom: 15px;
    max-width: 770px;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.0003em;
  }
  .hero__descr {
    max-width: 680px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.0003em;
  }
  .hero__btn {
    margin-top: 60px;
  }
  .logo {
    width: 150px;
    height: 48px;
  }
  /* about */
  .about__container {
    padding-top: 78px;
  }
  .about__inner {
    display: block;
    margin-top: 62px;
  }
  .about__title {
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 11px;
  }
  .inner__content {
    max-width: 924px;
    width: 100%;
  }
  .inner__content:nth-child(1) {
    margin-bottom: 30px;
    padding-top: 450px;
    height: 100%;
  }
  .info__descr {
    letter-spacing: 0.0002em;
  }
  .inner__aside:nth-child(1) {
    padding: 62px 110px 57px 315px;
  }
  .inner__aside:nth-child(2) {
    padding: 64px 110px 70px 315px;
  }
  .inner__aside {
    background-position: 70px 60px;
  }
  .aside__title {
    margin-bottom: 8px;
  }
  /* work */
  .work__container {
    padding-top: 78px;
    padding-bottom: 0;
  }
  .work__slider {
    position: relative;
    justify-content: space-between;
    padding-top: 10px;
    max-width: 925px;
    width: 100%;
  }
  .slider__content {
    position: relative;
    width: 100%;
  }
  .slider-bg, .slider-text {
    width: 50%;
  }
  .slider__bg {
    margin-top: 15px;
    height: 638px;
    width: 47%;
    background-position: center;
  }
  .slider__descr {
    margin-bottom: 23px;
    max-width: 438px;
  }
  /* question */
  .question__container {
    padding-top: 78px;
    padding-bottom: 80px;
  }
  .question__title {
    margin-bottom: 32px;
  }
  .question__descr {
    font-size: 20px;
    line-height: 32px;
  }
  .question__item:nth-child(2) {
    padding-bottom: 30px;
  }
  .question__item:nth-child(2) p {
    max-width: 700px;
  }
  .question__item:nth-child(4) {
    padding-bottom: 31px;
  }
  /* footer */
  .footer__container {
    max-width: 930px;
  }
  .footer__content:nth-child(1) {
    margin-right: 70px;
  }
  .footer__content:nth-child(3) {
    width: 0;
    display: none;
  }
  .footer__container {
    justify-content: flex-start;
  }
  .form__title {
    max-width: 549px;
    width: 100%;
    white-space: nowrap;
  }
  #name, #email, #message {
    max-width: 549px;
  }
  .form__btn {
    padding: 19px 40px;
    margin-right: 15px;
  }
  .form__label {
    margin-top: 5px;
    margin-left: 5px;
    letter-spacing: 0.002em;
  }
  .checkbox:checked + label::before {
    margin-right: 0.3em;
  }
}
@media ( max-width: 768px ) {
  body {
    max-width: 768px;
    width: 100%;
  }
  .container {
    max-width: 670px;
    width: 100%;
  }
  /* header */
  .header__container {
    padding-bottom: 20px;
  }
  .logo {
    left: 39%;
  }
  .header__search {
    /*left: 93%;*/
    right: 5%;
  }
  .nav {
    left: 60%;
    min-width: 50px;
    padding-left: 15px;
    padding-right: 5px;
  }
  .nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* hero */
  .wrapper {
    padding-left: 22px;
    padding-right: 21px;
    padding-bottom: 50px;
    width: 100%;
  }
  .hero__title {
    max-width: 100%;
    font-size: 50px;
    line-height: 61px;
  }
  /* about */
  .about__inner {
    margin-top: 55px;
  }
  .inner__content:nth-child(1) {
    padding-top: 440px;
    background-position: center;
  }
  .inner__aside {
    padding: 35px 46px 33px 170px !important;
    background-size: 114px 99px;
    background-position: 40px 60px;
  }
  .inner__info {
    padding: 47px 41px 45px 42px;
    height: 100%;
  }
  .info__descr {
    max-width: 382px;
  }
  .inner__aside:nth-child(1) {
    padding: 65px 110px 57px 315px;
  }
  .inner__aside:nth-child(1) .aside__title {
    margin-bottom: 5px;
    white-space: nowrap;
  }
  .aside__descr {
    line-height: 30px;
  }
  .inner__aside:nth-child(2) .aside__descr {
    line-height: 32px;
  }
  /* work */
  .work__container {
    padding-top: 84px;
  }
  .work__title {
    margin-bottom: 51px;
  }
  .work__list {
    margin-bottom: 22px;
  }
  .work__item:nth-child(1) {
    margin-right: 156px;
  }
  .work__item:nth-child(2) {
    margin-right: 153px;
  }
  .work__item:nth-child(3) {
    margin-right: 155px;
  }
  .work__slider {
    position: relative;
  }
  .slider__content {
    position: relative;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-width: 668px !important;
    width: 100% !important;
  }
  .slider-text, .slider__bg {
    width: 100vw;
  }
  .slider-bg {
    width: 100%;
    background-size: 100% auto;
  }
  .slider__title {
    margin-bottom: 5px;
  }
  .slider__descr {
    max-width: 668px;
  }
  .slider__bg {
    margin-bottom: 35px;
    height: 290px;
    background-size: cover;
  }
  .btn-l, .btn-r {
    top: 100%;
    bottom: auto;
  }
  /* question */
  .question__descr {
    max-width: 570px !important;
  }
  .question__item:nth-child(1) {
    padding-top: 32px;
  }
  .question__item:nth-child(5) {
    padding-bottom: 30px;
  }
  /* footer */
  .footer__container {
    flex-direction: column-reverse;
  }
  .content-info__list {
    display: none;
  }
  .social {
    display: flex;
    margin-top: 8px;
  }
  .footer__logo {
    margin-top: 50px;
  }
  .footer__content {
    max-width: 600px;
  }
}
@media ( max-width: 760px) {
  /* header */
  .header__search {
    left: 94%;
  }
  .logo {
    left: 36%;
  }
  /* hero */
  .wrapper {
    padding-top: 60px;
  }
  .hero__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  .hero__descr {
    max-width: 500px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
  .hero__btn {
    margin-left: 6vw;
  }
  /* about */
  .inner__aside:nth-child(1) .aside__title {
    white-space: normal !important;
  }
  /* work */
  .work__list {
    width: 100%;
  }
  .work__item:not(:last-child) {
    margin-right: 17vw;
  }
  .work__tab {
    white-space: nowrap;
  }
  /* title h2 */
  .about__title, .work__title, .question__title, .form__title {
    font-size: 34px;
    line-height: 42px;
  }
}
@media ( max-width: 620px) {
  /* about */
  .hero__title {
    font-size: 28px;
  }
  .inner__info {
    align-items: flex-start;
    flex-direction: column;
  }
  .inner__btn {
    margin: 0;
    margin-top: 8px;
  }
  .inner__aside {
    border: none;
    background-size: 15%;
    background-position: 1px 0px;
  }
  .inner__aside:nth-child(1) {
    padding: 65px 0 0 0 !important;
    background-image: url("../img/aside-up.svg");
  }
  .inner__aside:nth-child(2) {
    padding: 75px 0 0 0 !important;
    background-image: url("../img/aside-down.svg");
  }
  .aside__title {
    font-size: 20px;
    line-height: 24px;
  }
  .aside__descr {
    font-size: 15px;
    line-height: 30px;
  }
  /* work */
  .work__item:not(:last-child) {
    margin-right: 14vw;
  }
  /* question */
  .question__container {
    width: 100vw;
  }
  .question__descr {
    font-size: 16px;
    line-height: 28px;
  }
  .slider-bg {
    height: 295px;
    background-size: cover;
  }
  /* footer */
  .footer__content:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 16px;
    max-width: 620px;
    width: 100vw;
    border-top: 1px solid #595959;
  }
  .footer__logo {
    margin-top: 20px;
  }
  .footer__content:nth-child(2) {
    max-width: 620px;
    width: 100vw;
  }
  .form {
    margin: 0 3vw;
    max-width: 620px;
    width: 100vw;
  }
  .form__title {
    text-align: center;
  }
  #name, #email, #message {
    max-width: 620px;
    width: 90vw;
  }
  .form-box {
    flex-direction: column;
    align-items: center;
  }
}
@media ( max-width: 320px ) {
  html {
    overflow-x: hidden;
  }
  body {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x:hidden
  }
  .container {
    max-width: 290px;
    width: 100%;
  }
  /* header */
  .header__container {
    padding-top: 22px;
    padding-bottom: 23px;
  }
  .logo {
    left: 31%;
    width: 110px;
    height: 35px;
  }
  .header__search {
    left: 91%;
  }
  /* hero */
  .hero__container {
    padding: 60px 0 32px 0;
    height: 308px;
  }
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .hero__descr {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .hero__btn {
    margin: 30px 45px;
    padding: 5px 24px;
    font-size: 12px;
  }
  /* about */
  .about__container {
    padding-top: 62px;
  }
  .about__title {
    font-size: 24px;
    line-height: 17px;
    margin-bottom: 25px;
  }
  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }
  .about__inner {
    margin-top: 19px;
  }
  .inner__content:nth-child(1) {
    padding: 0;
    max-width: none;
    width: 100%;
    background: url("../img/about-bg.jpg");
    background-size: 290px 200px;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .inner__info {
    padding: 0;
    padding-top: 200px;
    background: none;
  }
  .info__descr {
    margin-top: 8px;
    max-width: 320px;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    color: #333;
  }
  .inner__btn {
    padding: 12px 40px;
    height: auto;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
  }
  .inner__aside {
    background-size: 23%;
    background-position: 1px 0px;
  }
  .inner__aside:nth-child(1) {
    padding: 55px 0 0 0 !important;
  }
  .inner__aside:nth-child(2) {
    padding: 65px 0 0 0 !important;
  }
  .aside__title {
    margin: 0;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .aside__descr {
    font-size: 14px;
    line-height: 28px !important;
  }
  /* work */
  .work__container {
    padding-top: 60px;
  }
  .work__title {
    margin-bottom: 22px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  }
  .work__list {
    margin-bottom: 15px;
  }
  .work__item {
    font-size: 14px;
    line-height: 17px;
  }
  .work__item:not(:last-child) {
    margin-right: 43px;
  }
  .work__slider {
    padding: 0;
  }
  .slider__content {
    margin-top: 12px;
  }
  .slider-bg {
    margin: 0;
    height: 162px;
    background-size: contain;
  }
  .slider__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  .slider__descr {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 28px;
  }
  .slider__btn {
    font-size: 12px;
    line-height: 15px;
  }
  .btn-l {
    margin-right: 10px;
    padding: 12px 44px;
  }
  .btn-r {
    padding: 11px 28px;
  }
  /* question */
  .question__container {
    padding-top: 67px;
    padding-bottom: 60px;
  }
  .question__title {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  }
  .question__descr {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .question__svg {
    width: 30px;
    height: 30px;
  }
  .question__item:nth-child(2) .question__descr,
  .question__item:nth-child(3) .question__descr,
  .question__item:nth-child(4) .question__descr,
  .question__item:nth-child(5) .question__descr    {
    max-width: 240px !important;
  }
  .question__item:nth-child(2) {
    padding-bottom: 31px;
  }
  .question__item:nth-child(3) {
    padding-bottom: 33px;
  }
  /* footer */
  .form__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  }
  .form {
    max-width: 290px;
  }
  #name, #email, #message {
    max-width: 290px;
  }
  .form__btn {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__container {
    position: relative;
    padding-top: 30px;
  }
  .footer__content:nth-child(1) {
    margin: 0;
    margin-top: 16px;
    max-width: 290px;
    width: 100%;
    border-top: 1px solid #595959;
  }
  .footer__content:nth-child(2) {
    padding: 0;
    max-width: 290px;
    width: 100%;
  }
  .footer__logo {
    margin-top: 16px;
    width: 50%;
  }
  .social__item:not(:last-child) {
    margin-right: 20px;
  }
  .social__svg {
    width: 40px;
    height: 40px;
  }
  #name, #email, #message {
    padding-left: 20px;
    font-size: 90%;
  }
  .form-box {
    margin-top: 19px;
    padding-left: 10px;
  }
  .form__btn {
    padding: 13px 28px;
  }
  .form__label {
    margin-top: 8px;
  }
}
